/sampleData
/defect-weld
/good_weld
/weld
/dataset/defect-weld
/dataset/good-weld
/output
/__pycache__
/pipeline/__pycache__
/dashboard/__MACOSX
/dashboard/__MACOSX
/dashboard/__MACOSX
/dashboard/__MACOSX
/dashboard/weld_project_template/assets/sample_data
/dashboard/weld_project_template/data/raw/train/good_weld/RUN_YYYYMMDD_HHMMSS_0000-00
/test_data-20260228T060326Z-1-001
/dashboard/__MACOSX
/dashboard/__MACOSX/dashboard/weld_project_template/data/raw/train
